:80 {

  # API: on garde /api/... tel quel
  handle /api/* {
    reverse_proxy backend:5000
  }

  # Adminer: ici on strip /admin (Adminer aime être à la racine)
  handle_path /admin/* {
    reverse_proxy adminer:8080
  }

  # Front: tout le reste
  handle {
    reverse_proxy frontend:80
  }
}
